body {
    font-size: 20px;
}

table#evt_summary_table td {
    margin: 10% 0%;
    border: solid #000;
    border-width: 3px 3px;
    width: 100%;
}

#title {
    text-align: center
}

#event_summary {
    width: 50%;
    text-align: center;
    padding-left: 25%;
}